Xcursor.theme: DMZ-White
URxvt*buffered: false

URxvt.font:                xft:Inconsolata:pixelsize=16:bold
URxvt.boldFont:            xft:Inconsolata:pixelsize=18:bold
URxvt.italicFont:          xft:Inconsolata:pixelsize=16:italic
URxvt.boldItalicFont:      xft:Inconsolata:pixelsize=18:bold:italic
/* URxvt.font:                xft:DejaVuSansMono:pixelsize=14:antialias=false */
/* URxvt.boldFont:            xft:DejaVuSansMono:pixelsize=14:bold */
/* URxvt.italicFont:          xft:DejaVuSansMono:pixelsize=14:italic */
/* URxvt.boldItalicFont:      xft:DejaVuSansMono:pixelsize=14:bold:italic */
/* URxvt.font:                xft:DejaVuSansMonoForPowerline:pixelsize=14:antialias=false */
/* URxvt.boldFont:            xft:DejaVuSansMonoForPowerline:pixelsize=14:bold */
/* URxvt.italicFont:          xft:DejaVuSansMonoForPowerline:pixelsize=14:italic */
/* URxvt.boldItalicFont:      xft:DejaVuSansMonoForPowerline:pixelsize=14:bold:italic */
URxvt.letterSpace:         -1

/* URxvt.transparent:   true */
/* URxvt.shading:       40 */
*.cursorColor:  #d3d0c8 */
*.background:   #263238
*.foreground:   #f2f0ec
!black
*color0:  #222222
*color8:  #666666
!red
*color1:  #E84F4F
*color9:  #D23D3D
!green
*color2:  #B7CE42
*color10: #BDE077
!yellow
*color3:  #FEA63C
*color11: #FFE863
!blue
*color4:  #66AABB
*color12: #AACCBB
!magenta
*color5:  #B7416E
*color13: #E16A98
!cyan
*color6:  #6D878D
*color14: #42717B
!white
*color7:  #DDDDDD
*color15: #CCCCCC

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false
URxvt.lineSpace: 1

URxvt*fading: 30
URxvt.urgentOnBell: false
URxvt*visualBell: false

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:d8273238, #273238, #273238, #1e2529
rofi.color-normal: argb:d8273238, #c1c1c1, argb:d8273238, #394249, #ffffff
/* rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff */
/* rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4 */
/* rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844 */

/* rofi.width: 900 */
/* rofi.padding: 400 */
/* rofi.fullscreen: true */
/* rofi.lines: 9 */
/* rofi.color-window: argb:ee2B303B, argb:AA181818, #1818181 */
/* rofi.color-normal: argb:00BF616A, #8FA1B3, argb:00BF616A, argb:00BF616A, #BF616A */
rofi.separator-style: none
