Xcursor.theme: DMZ-White
URxvt*buffered: false

URxvt.font:                xft:DejaVuSansMonoForPowerline:pixelsize=14
URxvt.boldFont:            xft:DejaVuSansMono:pixelsize=14:bold
URxvt.italicFont:          xft:DejaVuSansMono:pixelsize=14:italic
URxvt.boldItalicFont:      xft:DejaVuSansMono:pixelsize=14:bold:italic
URxvt.letterSpace:         -1

/* URxvt.transparent:   true */
/* URxvt.shading:       40 */

*.cursorColor:  #d3d0c8
*.background:   #263238
*.foreground:   #f2f0ec
!black
*color0:  #222222
*color8:  #666666
!red
*color1:  #E84F4F
*color9:  #D23D3D
!green
*color2:  #B7CE42
*color10: #BDE077
!yellow
*color3:  #FEA63C
*color11: #FFE863
!blue
*color4:  #66AABB
*color12: #AACCBB
!magenta
*color5:  #B7416E
*color13: #E16A98
!cyan
*color6:  #6D878D
*color14: #42717B
!white
*color7:  #DDDDDD
*color15: #CCCCCC
/* #define S_base03        #263238 */
/* #define S_base02        #073642 */
/* #define S_base01        #586e75 */
/* #define S_base00        #657b83 */
/* #define S_base0         #839496 */
/* #define S_base1         #93a1a1 */
/* #define S_base2         #eee8d5 */
/* #define S_base3         #fdf6e3 */

/* *background:            S_base03 */
/* *foreground:            S_base0 */
/* *fadeColor:             S_base03 */
/* *pointerColorBackground:S_base01 */
/* *pointerColorForeground:S_base1 */

/* #define S_yellow        #b58900 */
/* #define S_orange        #cb4b16 */
/* #define S_red           #dc322f */
/* #define S_magenta       #d33682 */
/* #define S_violet        #6c71c4 */
/* #define S_blue          #268bd2 */
/* #define S_cyan          #2aa198 */
/* #define S_green         #859900 */

/* !! black dark/light */
/* *color0:                S_base02 */
/* *color8:                S_base03 */

/* !! red dark/light */
/* *color1:                S_red */
/* *color9:                S_orange */

/* !! green dark/light */
/* *color2:                S_green */
/* *color10:               S_base01 */

/* !! yellow dark/light */
/* *color3:                S_yellow */
/* *color11:               S_base00 */

/* !! blue dark/light */
/* *color4:                S_blue */
/* *color12:               S_base0 */

/* !! magenta dark/light */
/* *color5:                S_magenta */
/* *color13:               S_violet */

/* !! cyan dark/light */
/* *color6:                S_cyan */
/* *color14:               S_base1 */

/* !! white dark/light */
/* *color7:                S_base2 */
/* *color15: S_base3 */


URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false
URxvt.lineSpace: 1

URxvt*fading: 30
URxvt.urgentOnBell: false

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:d8273238, #273238, #273238, #1e2529
rofi.color-normal: argb:d8273238, #c1c1c1, argb:d8273238, #394249, #ffffff
/* rofi.color-normal: #273238, #c1c1c1, #273238, #394249, #ffffff */
/* rofi.color-active: #273238, #80cbc4, #273238, #394249, #80cbc4 */
/* rofi.color-urgent: #273238, #ff1844, #273238, #394249, #ff1844 */

/* rofi.width: 900 */
/* rofi.padding: 400 */
/* rofi.fullscreen: true */
/* rofi.lines: 9 */
/* rofi.color-window: argb:ee2B303B, argb:AA181818, #1818181 */
/* rofi.color-normal: argb:00BF616A, #8FA1B3, argb:00BF616A, argb:00BF616A, #BF616A */
rofi.separator-style: none
